@model PixelForge.Models.Game

@{
    ViewData["Title"] = "Details";
}

<h2>@Model.Title</h2>

<div>
    <strong>Price:</strong> @Model.Price.ToString("N2")$
</div>

<div>
    <strong>Publisher:</strong> @Model.Publisher.FirstName @Model.Publisher.SecondName
</div>

<div><strong>Owned by:</strong> @ViewBag.OwnersCount user(s)</div>

<h4>Average Rating: @(Model.Reviews.Any() ? Model.Reviews.Average(r => r.Rating).ToString("0.0") : "No ratings") / 5</h4>

@if (Model.Reviews.Any())
{
    double average = Model.Reviews.Average(r => r.Rating);
    <div>
        @for (int i = 1; i <= 5; i++)
        {
            <span>@(i <= Math.Round(average) ? "★" : "☆")</span>
        }
        <span> (@average.ToString("0.0") / 5)</span>
    </div>
}
else
{
    <p>No reviews yet.</p>
}

@foreach (var review in Model.Reviews)
{
    <li>
        <strong>@review.User.FirstName @review.User.SecondName</strong> rated @review.Rating/5
        <p>@review.Comment</p>

        <form method="post" asp-controller="Review" asp-action="Vote" style="display:inline;">
            <input type="hidden" name="reviewId" value="@review.Id" />
            <input type="hidden" name="isLike" value="true" />
            <button type="submit" class="btn btn-success btn-sm">
                👍
                (@(Model.Reviews
                      .First(r => r.Id == review.Id)
                      .Votes?.Count(v => v.IsLike) ?? 0))
            </button>
        </form>

        <form method="post" asp-controller="Review" asp-action="Vote" style="display:inline;">
            <input type="hidden" name="reviewId" value="@review.Id" />
            <input type="hidden" name="isLike" value="false" />
            <button type="submit" class="btn btn-danger btn-sm">
                👎
                (@(Model.Reviews
                      .First(r => r.Id == review.Id)
                      .Votes?.Count(v => !v.IsLike) ?? 0))
            </button>
        </form>
    </li>

}

@{
    var currentUserId = User.FindFirst("http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier")?.Value;
}

@if (User.IsInRole("User"))
{
    <a asp-controller="Support" asp-action="Send" asp-route-gameId="@Model.Id" class="btn btn-outline-info mt-3">
        Support
    </a>
}

<div>
    <a asp-controller="Support" asp-action="Index" asp-route-gameId="@Model.Id" class="btn btn-outline-info mt-3">
        Support Page
    </a>
</div>


<div class="mt-3">
    <a asp-action="Store">Back to Store</a>
</div>
