@model List<PixelForge.Models.Game>
@{
    ViewData["Title"] = "Library";
}

<h3>Library</h3>

<form class="row mb-3" asp-controller="Game" asp-action="Library" method="get">
    <div class="col-md-3">
        <input type="text" class="form-control" name="searchString" placeholder="Title" value="@Context.Request.Query["searchString"]" />
    </div>
    <div class="col-md-2">
        <input type="text" class="form-control" name="genreFilter" placeholder="Genre" value="@Context.Request.Query["genreFilter"]" />
    </div>
    <div class="col-md-2">
        <select class="form-control" name="ageFilter">
            <option value="">Any Rating</option>
            @foreach (var rating in Enum.GetNames(typeof(PixelForge.Models.AgeRating)))
            {
                <option value="@rating" selected="@(rating == Context.Request.Query["ageFilter"] ? "selected" : null)">@rating</option>
            }
        </select>
    </div>
    <div class="col-md-1">
        <button type="submit" class="btn btn-dark w-100">Filter</button>
    </div>
    <div class="col-md-10 mt-3">
        <a asp-controller="Game" asp-action="Library" class="text-dark">Back to Full List</a>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th><a class="text-dark" asp-controller="Game" asp-action="Library" asp-route-sortOrder=@ViewData["NameSortParam"]>Title</a></th>
            <th><a class="text-dark" asp-controller="Game" asp-action="Library" asp-route-sortOrder="@ViewData["GenreSortParam"]">Genre</a></th>
            <th><a class="text-dark" asp-controller="Game" asp-action="Library" asp-route-sortOrder="@ViewData["AgeSortParam"]">Age Rating</a></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ownedGames in Model)
        {
            <tr>
                <td>@ownedGames.Title</td>
                <td>@ownedGames.Genre</td>
                <td>@ownedGames.AgeRating</td>
                <td>
                    @if (!string.IsNullOrEmpty(ownedGames.GameFilePath))
                    {
                        <a asp-action="Download" asp-route-id="@ownedGames.Id" class="btn btn-primary">Download</a>
                    }
                    else
                    {
                        <span class="text-muted">No File</span>
                    }
                </td>
                <td><a asp-controller="Review" asp-action="Create" asp-route-gameId="@ownedGames.Id" class="btn btn-outline-primary">Review</a></td>

            </tr>
        }
    </tbody>
</table>