@model List<PixelForge.Models.Game>
@{
    ViewData["Title"] = "Store";
}

<h3>Store</h3>

<form class="row mb-3" asp-action="Store" method="get">
    <div class="col-md-3">
        <input type="text" class="form-control" name="searchString" placeholder="Title" value="@Context.Request.Query["searchString"]" />
    </div>
    <div class="col-md-2">
        <input type="text" class="form-control" name="genreFilter" placeholder="Genre" value="@Context.Request.Query["genreFilter"]" />
    </div>
    <div class="col-md-2">
        <input type="number" class="form-control" name="minPrice" step="0.01" placeholder="Min Price" value="@Context.Request.Query["minPrice"]" />
    </div>
    <div class="col-md-2">
        <input type="number" class="form-control" name="maxPrice" step="0.01" placeholder="Max Price" value="@Context.Request.Query["maxPrice"]" />
    </div>
    <div class="col-md-2">
        <select class="form-control" name="ageFilter">
            <option value="">Any Rating</option>
            @foreach (var rating in Enum.GetNames(typeof(PixelForge.Models.AgeRating)))
            {
                <option value="@rating" selected="@(rating == Context.Request.Query["ageFilter"] ? "selected" : null)">@rating</option>
            }
        </select>
    </div>
    <div class="col-md-1">
        <button type="submit" class="btn btn-dark w-100">Filter</button>
    </div>
    <div class="col-md-10 mt-3">
        <a asp-action="Store" class="text-dark">Back to Full List</a>
    </div>
</form>

<table class="table mt-3">
    <thead>
        <tr>
            <th><a class="text-dark" asp-controller="Game" asp-action="Store" asp-route-sortOrder=@ViewData["NameSortParam"]>Title</a></th>
            <th><a class="text-dark" asp-controller="Game" asp-action="Store" asp-route-sortOrder="@ViewData["GenreSortParam"]">Genre</a></th>
            <th><a class="text-dark" asp-controller="Game" asp-action="Store" asp-route-sortOrder="@ViewData["AgeSortParam"]">Age Rating</a></th>
            <th><a class="text-dark" asp-controller="Game" asp-action="Store" asp-route-sortOrder=@ViewData["PriceSortParam"]>Price</a></th>
            <th><a class="text-dark" asp-controller="Game" asp-action="Store" asp-route-sortOrder=@ViewData["PublisherSortParam"]>Publisher</a></th>
            <th><a class="text-dark" asp-controller="Game" asp-action="Store" asp-route-sortOrder=@ViewData["PopularitySortParam"]>Popularity</a></th>

            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var game in Model)
        {
            <tr>
                <td>@game.Title</td>
                <td>@game.Genre</td>
                <td>@game.AgeRating</td>
                <td>@game.Price.ToString("N2") $</td>
                <td>@game.Publisher.FirstName @game.Publisher.SecondName</td>
                <td>
                    <a asp-action="Details" asp-route-id="@game.Id">Details</a>
                </td>
                <td>
                    @if (User.IsInRole("User"))
                    {
                        <a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@game.Id" class="btn btn-success">Add To Cart</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>